<div class="container  contain-main mt-5">
  <div class="contents col-lg-7">
    <div class="settings-div">
      
       
    </div>
      <div class="user-div col-lg-12">
        <div class="user-status-div col-lg-8">
          <div class="box-status-div ">
            <div class="likes-div text-center">
              <h1 class="mt-2">12</h1>
              <h3>Likes</h3>
            </div>
            <div class="followers-div text-center">
              {{#if followCount}}
              <h1 class="mt-2">{{followCount}}</h1>
              {{else}}
                <h1 class="mt-2">0</h1>
              {{/if}}

              <h3>Followers</h3>
            </div>
          </div>
          <div class="bio-div"> 
            <h5>{{userInfo._doc.bio}}</h5>
          </div>

        </div>
        <div class="user-dp-div col-lg-4 text-center">
          <img class="dp-pic" src="/images/users/profilePictures/{{userInfo._doc.cryptoId}}.jpg" alt="">

        </div>
        
      </div>
      <div class="sub-user-info mt-3">
          <div class="follow-btn-div col-lg-8 ">
            {{#if userFollow}}
                        <a onclick="unfollowUser('{{userInfo._doc.cryptoId}}')" id="followBtn" class="btn-secondary btn follow-btn">following</a>

            {{else}}
                        <a onclick="followUser('{{userInfo._doc.cryptoId}}')" id="followBtn" class="btn btn-primary follow-btn">Follow</a>


            {{/if}}
            <a href="/edit-account" class="btn btn-primary messeage-btn">Messeage</a>
           
          </div>
          <div class="username-div col-lg-4">
            <h3>@{{userInfo._doc.username}}</h3>
          </div>

      </div> 
    
  </div>
  
</div> 
<div class="container  mt-5">

 <div class="row ">
  {{#if userPosts}}
  {{#each userPosts}}
      <div class="post-div col-lg-3 mb-5" onclick="openPost('{{this._doc.postCryptoId}}')">
        <div class="post-img-div text-center">
            <img style="height : 100%;" src="/images/users/posts/{{this._doc.imageFilenname}}" alt="">     
        </div>
        <div class="post-caption-div ">
           <h5 class="mt-1 ml-3">{{this._doc.caption}}</h5>
        </div>
      </div>
      {{/each }}
      {{else}}
      <div style="display: flex;width:100%">
      <h3 style="margin: auto;">No posts yet</h3>

      </div>
{{/if}}
 </div>

          
       
    
      
</div>
